<app-header></app-header>

<hr>

<form>
  <input type = "text" name="user" placeholder="user-name"/>
  <br/><br/>
  <input type = "email" name="email" placeholder="user-email"/>
  <br/><br/>
  <input type = "password" name="pass" placeholder="user-password"/>
  <br/><br/>
  <button (click)="getRegister('value')">Register</button>
</form>

<hr>

<h1 class = "colore">Hello World {{title}}</h1>

<style>
  .colore{ /* Internal Style */
    color: blue;
  }
</style>

<h2>{{getAny()}}</h2>

<app-login></app-login>

<app-logout></app-logout>

<app-forgot-pass></app-forgot-pass>

<app-sign-up></app-sign-up>

<app-events></app-events>

<app-display></app-display>

<app-button></app-button>

<app-register></app-register>

<app-sign-in></app-sign-in>

<app-if-else></app-if-else>

<app-loop></app-loop>

<app-binding></app-binding>